<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.svtu.mapper.AdminUserMapper">
    <update id="updateUserState">
        update t_user set state=#{state} where user_id=#{userId}
    </update>

    <select id="selectAllUser" resultType="com.svtu.entity.User">
        select * from t_user
    </select>
</mapper>